ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/aa2941c8-205d-47d3-84f9-e4db54da118d.vsidx
ApiSampleFinal/Domain/Domain/bin/Debug/net8.0/Domain.dll
ApiSampleFinal/Domain/Domain/bin/Debug/net8.0/Domain.dll
ApiSampleFinal/Web/obj/Debug/net8.0/staticwebassets/msbuild.build.ApiSampleFinal.props
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/03db7dce-5801-4aa3-8fc0-d1c6d8816edd.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/8c1054a9-f049-490c-9f39-89c17cc0bbac.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/fdb9693e-7fb1-4c9f-a38b-7a39974eb130.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/f4609b0c-1bd0-4b81-b305-38c18159b3e7.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/f3ed4ac3-ab58-4767-8199-edb60ae09e92.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/73af57b0-e433-4906-a81c-b0a9f86852f9.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/9f819df8-649b-421b-b7bb-cbdb5f6406ee.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/1af2fe6c-7bfc-44e1-8cf9-9b5d4a76492c.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/04f0801e-6a61-47df-80bb-018db0306f68.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/f2f45b3f-6806-46d2-9fa6-9eb1f85e8d27.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/c48de744-6bbe-43ea-b370-f5616a2ebba2.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/cf5cb26e-bd45-404f-86fe-037803ac49d0.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/61e8fde6-2d7a-4272-8636-911ff29789f7.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/5661c879-7a25-4591-bed1-1acceffaacdd.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/9bf5b387-5292-42b7-8473-00c00ee232e2.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/552a3fad-e825-446f-bf94-2dbb3f9e8f75.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/9d0bb1f3-c162-4ba2-9fca-fe049a17a977.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/a6b5b1ff-1f44-4c03-bc9d-a0ed1d2c625f.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/6becf8c2-dfaa-43ad-950a-e4abb46778a6.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/606232ea-4594-4851-a828-32b7c9c11c83.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/f00ce390-7d9b-4f6d-95ab-bea7b5281249.vsidx
ApiSampleFinal/Web/.vs/ApiSampleFinal/FileContentIndex/e295044d-7eb0-42de-8e03-45d7f670b248.vsidx
