<!-- Redirigir a home -->
<div class="home-container">
  <button (click)="home()" mat-button>
    <mat-icon class="home">home</mat-icon>
  </button>
</div>

<!-- perfil-usuario.component.html -->
<div class="perfil-container" *ngIf="usuarioPerfil">
  <div class="perfil-header">
    <div mat-card-avatar class="example-header-image"></div>
    <div class="perfil-info">
      <!-- Modo edición -->
      <div *ngIf="editMode; else viewMode">
        <form (ngSubmit)="guardarCambios()">
          <mat-form-field appearance="fill">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput id="username" [(ngModel)]="usuarioPerfil.username" name="username" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>ID de Usuario</mat-label>
            <input matInput id="user" [(ngModel)]="usuarioPerfil.user" name="user" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput id="descripcion" [(ngModel)]="usuarioPerfil.descripcion" name="descripcion"
              required></textarea>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
          <button mat-raised-button color="accent" type="button" (click)="cancelarEdicion()">Cancelar</button>
        </form>
      </div>

      <!-- Modo vista -->
      <ng-template #viewMode>
        <div class="perfil-info-view">
          <h1 class="perfil-usuario">{{ usuarioPerfil.name }}</h1>
          <h2 class="perfil-nombre">&#64;{{ usuarioPerfil.email }}</h2>
          <p class="perfil-bio">{{ usuarioPerfil.descripcion }}</p>
          <div class="perfil-actions">
            <button mat-raised-button color="primary" (click)="edit()">Editar Perfil</button>
            <button mat-raised-button color="primary" (click)="eliminarUser()">Eliminar perfil</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- Crear Publicación -->
<div class="create-post-container" *ngIf="rol === 'Admin' || rol === 'Autor'">
  <div class="post-options">
    <button class="option-button" (click)="crearPost()">
      Crear Publicación
    </button>
  </div>
</div>
<br>

<!-- Posts del Usuario -->
<div class="body" *ngFor="let post of postUsuarioRenderizar">
  <mat-card class="example-card"
    *ngIf="(rol == 'Lector' && post.status == 'Aceptado') || (rol == 'Autor' && post.status == 'Aceptado') || (rol == 'Admin') || (userId == post.userId && post.status == 'Espera' && rol == 'Autor')">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ post.user }}</mat-card-title>
      <mat-card-subtitle>{{ post.username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h5 class="titulo">{{ post.title }}</h5>
      <h6 class="contenido">{{ post.content }}</h6>
      <h6 class="publicacion">{{ post.pubDate }}</h6>
      <h6 class="status" [attr.data-status]="post.status">{{ post.status }}</h6>
    </mat-card-content>
    <mat-card-actions>
      <div class="reacciones" *ngIf="post.status == 'Aceptado' || rol === 'Admin'">
        <div class="like" *ngIf="post.liked == true">
          <button (click)="dislike(post.likeId)" *ngIf="rol === 'Admin' || rol === 'Autor' || rol === 'Lector'"
            mat-button [ngStyle]="{'background-color': 'white', 'color': 'red'}">
            <mat-icon class="like">favorite</mat-icon>
          </button>
        </div>

        <div class="dislike" *ngIf="post.liked == false">
          <button (click)="like(post.id)" *ngIf="rol === 'Admin' || rol === 'Autor' || rol === 'Lector'" mat-button>
            <mat-icon class="like">favorite</mat-icon>
          </button>
        </div>

        <button (click)="viewLikes(post.id)" *ngIf="rol === 'Admin' || rol === 'Autor'" mat-button>
          <mat-icon class="comment">stars</mat-icon>
        </button>

        <button (click)="comment(post.id)" *ngIf="rol === 'Admin' || (rol === 'Autor' && post.userId == permised)"
          mat-button>
          <mat-icon class="comment">comment</mat-icon>
        </button>
        <button (click)="editPost(post.id)" *ngIf="rol === 'Admin' || (post.userId == permised && rol == 'Autor')"
          mat-button>
          <mat-icon class="share">edit</mat-icon>
        </button>
        <button (click)="delete(post.id)" *ngIf="rol === 'Admin' || (post.userId == permised && permisedUser)"
          mat-button>
          <mat-icon class="delete">delete</mat-icon>
        </button>
      </div>
    </mat-card-actions>

    <mat-card-actions *ngIf="rol == 'Admin'" class="actions-container">

      <!-- Botón para banear el post -->
      <button (click)="BanearPost(post.id, post.title, post.content, post.userId, post.rating, post.blogId)"
        *ngIf="post.status == 'Aceptado'" mat-button [ngClass]="{'ban-button': true}"
        [ngStyle]="{'background-color': 'orange', 'color': 'white'}">
        Banear post
      </button>

      <!-- Botón para desbanear el post -->
      <button (click)="DesbanearPost(post.id, post.title, post.content, post.userId, post.rating, post.blogId)"
        *ngIf="post.status == 'Rechazado' || post.status == 'Infringir' || post.status == 'Baneado'" mat-button [ngClass]="{'unban-button': true}"
        [ngStyle]="{'background-color': 'green', 'color': 'white'}">
        Desbanear post
      </button>

      <!-- Botón para aceptar el post -->
      <button (click)="AceptarPost(post.id, post.title, post.content, post.userId, post.rating, post.blogId)"
        *ngIf="post.status == 'Espera'" mat-button [ngClass]="{'accept-button': true}"
        [ngStyle]="{'background-color': '#007bff', 'color': 'white'}">
        Aceptar post
      </button>

    </mat-card-actions>

    <!-- Sección de Comentarios -->
    <mat-card-actions *ngIf="comentarPostFlag && comentario && postId_comentario == post.id">
      <div class="guardarComentario">
        <button (click)="guardarComentario()" mat-raised-button color="primary" type="submit">Añadir comentario</button>
      </div>
      <div class="comments-container">
        <div class="comments-list" *ngFor="let comentario of comentarios">
          <div class="comment-item">
            <div class="comment-author">{{ comentario.userName }}</div>
            <div class="comment-text">{{ comentario.content }}</div>
            <button (click)="deleteComentario(comentario.id)" mat-button>
              <mat-icon class="delete">delete</mat-icon>
            </button>
            <button
              (click)="commentEdit(comentario.content, comentario.id, post.postId, comentario.pubDate, usuarioPerfil.userId)"
              mat-button>
              <mat-icon class="edit">edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>